/* =============================================
	Default Padding Top And Margin Top Area 
===============================================*/
.pt-5,
.mt-5 {
    padding-top: 5px;
    margin-top: 5px;
}

.pt-10,
.mt-10 {
    padding-top: 10px;
    margin-top: 10px;
}

.pt-15,
.mt-15 {
    padding-top: 15px;
    margin-top: 15px;
}

.pt-20,
.mt-20 {
    padding-top: 20px;
    margin-top: 20px;
}

.pt-25,
.mt-25 {
    padding-top: 25px;
    margin-top: 25px;
}

.pt-30,
.mt-30 {
    padding-top: 30px;
    margin-top: 30px;
}

.pt-35,
.mt-35 {
    padding-top: 35px;
    margin-top: 35px;
}

.pt-40,
.mt-40 {
    padding-top: 40px;
    margin-top: 40px;
}

.pt-45,
.mt-45 {
    padding-top: 45px;
    margin-top: 45px;
}

.pt-50,
.mt-50 {
    padding-top: 50px;
    margin-top: 50px;
}

.pt-55,
.mt-55 {
    padding-top: 55px;
    margin-top: 55px;
}

.pt-60,
.mt-60 {
    padding-top: 60px;
    margin-top: 60px;
}

.pt-65,
.mt-65 {
    padding-top: 65px;
    margin-top: 65px;
}

.pt-70,
.mt-70 {
    padding-top: 70px;
    margin-top: 70px;
}

.pt-75,
.mt-75 {
    padding-top: 75px;
    margin-top: 75px;
}

.pt-80,
.mt-80 {
    padding-top: 80px;
    margin-top: 80px;
}

.pt-85,
.mt-85 {
    padding-top: 85px;
    margin-top: 85px;
}

.pt-90,
.mt-90 {
    padding-top: 90px;
    margin-top: 90px;
}

.pt-95,
.mt-95 {
    padding-top: 95px;
    margin-top: 95px;
}

.pt-100,
.mt-100 {
    padding-top: 100px;
    margin-top: 100px;
}

.pt-105,
.mt-105 {
    padding-top: 105px;
    margin-top: 105px;
}

.pt-110,
.mt-110 {
    padding-top: 110px;
    margin-top: 110px;
}

.pt-115,
.mt-115 {
    padding-top: 115px;
    margin-top: 115px;
}

.pt-120,
.mt-120 {
    padding-top: 120px;
    margin-top: 120px;
}

.pt-125,
.mt-125 {
    padding-top: 125px;
    margin-top: 125px;
}

.pt-130,
.mt-130 {
    padding-top: 130px;
    margin-top: 130px;
}

.pt-135,
.mt-135 {
    padding-top: 135px;
    margin-top: 135px;
}

.pt-140,
.mt-140 {
    padding-top: 140px;
    margin-top: 140px;
}

.pt-145,
.mt-145 {
    padding-top: 145px;
    margin-top: 145px;
}

.pt-150,
.mt-150 {
    padding-top: 150px;
    margin-top: 150px;
}

.pt-155,
.mt-155 {
    padding-top: 155px;
    margin-top: 155px;
}

.pt-160,
.mt-160 {
    padding-top: 160px;
    margin-top: 160px;
}

.pt-165,
.mt-165 {
    padding-top: 165px;
    margin-top: 165px;
}

.pt-170,
.mt-170 {
    padding-top: 170px;
    margin-top: 170px;
}

.pt-175,
.mt-175 {
    padding-top: 175px;
    margin-top: 175px;
}

.pt-180,
.mt-180 {
    padding-top: 180px;
    margin-top: 180px;
}

.pt-185,
.mt-185 {
    padding-top: 185px;
    margin-top: 185px;
}

.pt-190,
.mt-190 {
    padding-top: 190px;
    margin-top: 190px;
}

.pt-195,
.mt-195 {
    padding-top: 195px;
    margin-top: 195px;
}

.pt-200,
.mt-200 {
    padding-top: 200px;
    margin-top: 200px;
}

/* ===================================================
	Default Padding Bottom And Margin Bottom Area 
=====================================================*/
.pb-5,
.mb-5 {
    padding-bottom: 5px;
    margin-bottom: 5px;
}

.pb-10,
.mb-10 {
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.pb-15,
.mb-15 {
    padding-bottom: 15px;
    margin-bottom: 15px;
}

.pb-20,
.mb-20 {
    padding-bottom: 20px;
    margin-bottom: 20px;
}

.pb-25,
.mb-25 {
    padding-bottom: 25px;
    margin-bottom: 25px;
}

.pb-30,
.mb-30 {
    padding-bottom: 30px;
    margin-bottom: 30px;
}

.pb-35,
.mb-35 {
    padding-bottom: 35px;
    margin-bottom: 35px;
}

.pb-40,
.mb-40 {
    padding-bottom: 40px;
    margin-bottom: 40px;
}

.pb-45,
.mb-45 {
    padding-bottom: 45px;
    margin-bottom: 45px;
}

.pb-50,
.mb-50 {
    padding-bottom: 50px;
    margin-bottom: 50px;
}

.pb-55,
.mb-55 {
    padding-bottom: 55px;
    margin-bottom: 55px;
}

.pb-60,
.mb-60 {
    padding-bottom: 60px;
    margin-bottom: 60px;
}

.pb-65,
.mb-65 {
    padding-bottom: 65px;
    margin-bottom: 65px;
}

.pb-70,
.mb-70 {
    padding-bottom: 70px;
    margin-bottom: 70px;
}

.pb-75,
.mb-75 {
    padding-bottom: 75px;
    margin-bottom: 75px;
}

.pb-80,
.mb-80 {
    padding-bottom: 80px;
    margin-bottom: 80px;
}

.pb-85,
.mb-85 {
    padding-bottom: 85px;
    margin-bottom: 85px;
}

.pb-90,
.mb-90 {
    padding-bottom: 90px;
    margin-bottom: 90px;
}

.pb-95,
.mb-95 {
    padding-bottom: 95px;
    margin-bottom: 95px;
}

.pb-100,
.mb-100 {
    padding-bottom: 100px;
    margin-bottom: 100px;
}

.pb-105,
.mb-105 {
    padding-bottom: 105px;
    margin-bottom: 105px;
}

.pb-110,
.mb-110 {
    padding-bottom: 110px;
    margin-bottom: 110px;
}

.pb-115,
.mb-115 {
    padding-bottom: 115px;
    margin-bottom: 115px;
}

.pb-120,
.mb-120 {
    padding-bottom: 120px;
    margin-bottom: 120px;
}

.pb-125,
.mb-125 {
    padding-bottom: 125px;
    margin-bottom: 125px;
}

.pb-130,
.mb-130 {
    padding-bottom: 130px;
    margin-bottom: 130px;
}

.pb-135,
.mb-135 {
    padding-bottom: 135px;
    margin-bottom: 135px;
}

.pb-140,
.mb-140 {
    padding-bottom: 140px;
    margin-bottom: 140px;
}

.pb-145,
.mb-145 {
    padding-bottom: 145px;
    margin-bottom: 145px;
}

.pb-150,
.mb-150 {
    padding-bottom: 150px;
    margin-bottom: 150px;
}

.pb-155,
.mb-155 {
    padding-bottom: 155px;
    margin-bottom: 155px;
}

.pb-160,
.mb-160 {
    padding-bottom: 160px;
    margin-bottom: 160px;
}

.pb-165,
.mb-165 {
    padding-bottom: 165px;
    margin-bottom: 165px;
}

.pb-170,
.mb-170 {
    padding-bottom: 170px;
    margin-bottom: 170px;
}

.pb-175,
.mb-175 {
    padding-bottom: 175px;
    margin-bottom: 175px;
}

.pb-180,
.mb-180 {
    padding-bottom: 180px;
    margin-bottom: 180px;
}

.pb-185,
.mt-185 {
    padding-bottom: 185px;
    margin-bottom: 185px;
}

.pb-190,
.mb-190 {
    padding-bottom: 190px;
    margin-bottom: 190px;
}

.pb-195,
.mb-195 {
    padding-bottom: 195px;
    margin-bottom: 195px;
}

.pb-200,
.mb-200 {
    padding-bottom: 200px;
    margin-bottom: 200px;
}
